<div class="collapse hidden" id="navbarToggleExternalContent">

  <div class="vertical-menu">
    <ul class="nav flex-column align-items-center" id="menu">
      <li class="nav-item" data-toggle="collapse" data-target=".collapse">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".collapse">
        <a class="nav-link" routerLink="/location">Location</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".collapse">
        <a class="nav-link" routerLink="/beaches">Beaches</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".collapse">
        <a class="nav-link" routerLink="/beachesSelection">Beaches Selection</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".collapse">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".collapse">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-light justify-content-between fixed-top">
  <a class="navbar-brand" routerLink="">{{ title}}</a>
  <form class="form-inline">
    <div class="box">
      <div class="container-2">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..."/>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-menu"></span>
    </button>
  </form>
</nav>






