

<div class="collapse" id="navbarToggleExternalContent">
  <ul class="nav  justify-content-center">
    <li class="nav-item active">
      <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/component">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user">User</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-light justify-content-between">
  <a class="navbar-brand" routerLink="">{{ title}}</a>
  <form class="form-inline">
    <div class="box">
      <div class="container-2">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..."/>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-menu"></span>
    </button>
  </form>
</nav>





