
#navbarToggleExternalContent {
  background-color: #064657;
  padding: 10px;
}

a {
  color: #fff;
}

.box{
  height: 50px;
  background-color: transparent;
}

.container-2{
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 50px;
  height: 50px;
  border: none;
  font-size: 10pt;
  float: right;
  color: #262626;
  padding-right: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-indent: 20px;


  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-2 .icon{
  position: absolute;
  right: 0px;
  margin-right: 10px;
  margin-top: 16px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}

.container-2:hover input#search{
  width: 300px;
}

.container-2:hover .icon{
  color: #93a2ad;
}



